<footer class="footer-10 custom-bg-color mt-auto">
	<hr class="my-5">
	<div class="container">
		<div class="row">
			<div class="col-md-5 mb-md-0 mb-4">
				<h2 class="footer-heading">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">S'abonner</font>
					</font>
				</h2>
				<form action="#" class="subscribe-form">
					<div class="form-group d-flex">
						<input type="text" class="form-control rounded-left" placeholder="Entrez votre adresse e-mail">
						<button type="submit" class="form-control submit rounded-right ms-3">
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">S'abonner</font>
							</font>
						</button>
					</div>
					<span class="subheading">
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">Recevez des mises à jour sur nos produits dans votre boîte aux lettres</font>
						</font>
					</span>
				</form>
			</div>
		</div>
		<div class="row mt-5 pt-4 border-top">
			<div class="col-md-6 col-lg-8 mb-md-0 mb-4">
				<p class="copyright mb-0">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">Copyright ©
						</font>
					</font>
					<script>
						document.write(new Date().getFullYear());
					</script>
				</p>
			</div>
		</div>
	</div>
</footer>
