{% extends 'base.html.twig' %}

{% block body %}
	<h1>Mercadona</h1>
	<p>Plateforme d'e-commerce Mercadona : Votre destination en ligne pour faire des achats en toute 
					simplicité avec une démarche écoresponsable !</p>
{% endblock %}
