{% extends "base.html.twig" %}

{% block title %}Page non trouvee
{% endblock %}

{% block body %}
	<main class="container">
		<section class="row">
			<div class="col-12">
				<h1>Page non trouvee error 403</h1>
				<p>La page que vous recherchez n'a pas etait trouve</p>
			</div>
		</section>
	</main>
{% endblock %}
